.version.index /* version checker */
{
	color: #000011;
	background-color: #7C65E5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2276.9500000000025px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -42px;
	margin-bottom: -1px;
	width: 0.01px;
}

#u94
{
	z-index: 3;
	height: 698px;
}

#u94-bw
{
	z-index: 3;
	margin-top: 1px;
	height: 698px;
}

#pu450
{
	width: 0.01px;
	padding-bottom: 1441px;
	margin-left: -99px;
	margin-top: -699px;
}

#u450
{
	z-index: 2;
	width: 1158px;
	height: 1441px;
	bottom: 1px;
	left: 50%;
	margin-left: -579px;
}

#u79
{
	z-index: 91;
	width: 1158px;
	height: 83px;
	top: -5px;
	left: 50%;
	margin-left: -578px;
}

#menuu972
{
	z-index: 92;
	width: 446px;
	top: 22px;
	left: 50%;
	margin-left: -513px;
}

#u1024
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1025
{
	width: 110px;
	padding-bottom: 14px;
}

#u1028-4
{
	width: 110px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1025:hover #u1028-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u973
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 112px;
}

#u974
{
	width: 110px;
	padding-bottom: 14px;
}

#u977-4
{
	width: 110px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u1025.MuseMenuActive #u1028-4,#u974:hover #u977-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u987
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 224px;
}

#u988
{
	width: 110px;
	padding-bottom: 14px;
}

#u991-4
{
	width: 110px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u974.MuseMenuActive #u977-4,#u988:hover #u991-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u994
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	left: 336px;
}

#u995
{
	width: 110px;
	padding-bottom: 14px;
}

#u1025.MuseMenuActive,#u974.MuseMenuActive,#u988.MuseMenuActive,#u995:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u995.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u997-4
{
	width: 110px;
	min-height: 20px;
	margin-right: -10000px;
	top: 7px;
}

#u988.MuseMenuActive #u991-4,#u995:hover #u997-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u995.MuseMenuActive #u997-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u1001
{
	z-index: 117;
	width: 53px;
	height: 78px;
	top: 0px;
	left: 50%;
	margin-left: -566px;
}

#pu1031-4
{
	width: 0.01px;
	margin-left: -99px;
	margin-top: -742px;
}

#u1031-4
{
	z-index: 4;
	width: 579px;
	min-height: 34px;
	background-color: transparent;
	font-size: 28px;
	text-align: center;
	line-height: 34px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 579px;
}

#u1033-51
{
	z-index: 8;
	width: 579px;
	min-height: 51px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 579px;
}

#u1715
{
	z-index: 59;
	width: 579px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1671
{
	z-index: 67;
	width: 1158px;
	border-style: none;
	border-color: transparent;
	background-color: #F8F8F8;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 492px;
}

#u1671_position_content
{
	padding-top: 136px;
}

#u1701-4
{
	z-index: 68;
	width: 580px;
	min-height: 34px;
	background-color: transparent;
	font-size: 28px;
	text-align: center;
	line-height: 34px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	left: -1px;
	position: relative;
}

#u1702-16
{
	z-index: 72;
	width: 580px;
	min-height: 51px;
	background-color: transparent;
	left: -1px;
	margin-top: 48px;
	position: relative;
}

#u1033,#u1033-3,#u1033-4,#u1033-6,#u1033-7,#u1033-9,#u1033-10,#u1033-12,#u1033-13,#u1033-15,#u1033-16,#u1033-18,#u1033-19,#u1033-21,#u1033-22,#u1033-24,#u1033-25,#u1033-27,#u1033-28,#u1033-30,#u1033-31,#u1033-33,#u1033-34,#u1033-36,#u1033-37,#u1033-39,#u1033-40,#u1033-42,#u1033-43,#u1033-44,#u1033-45,#u1033-46,#u1033-47,#u1033-48,#u1702-2,#u1702-3,#u1702-5,#u1702-6,#u1702-8,#u1702-9,#u1702-11,#u1702-12,#u1702-13
{
	font-size: 18px;
	text-align: center;
	line-height: 14px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
}

#u1721
{
	z-index: 88;
	width: 579px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 492px;
	left: 579px;
}

#u1752
{
	z-index: 90;
	width: 1158px;
	height: 361px;
	border-style: none;
	border-color: transparent;
	background-color: #F8F8F8;
	position: relative;
	margin-right: -10000px;
	margin-top: 954px;
}

#pu258
{
	width: 0.01px;
	margin-left: -115px;
	margin-top: 13px;
}

#u258
{
	z-index: 61;
	width: 1158px;
	height: 218px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 16px;
}

#u1638-4
{
	z-index: 62;
	min-height: 20px;
}

#u1638-4-bw
{
	z-index: 62;
	min-height: 20px;
	margin-top: 184px;
}

#u1618
{
	z-index: 66;
	width: 343px;
	height: 293px;
	margin-right: -10000px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

