.version.about_us /* version checker */
{
	color: #0000EB;
	background-color: #3F6EBA;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 923.8999999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-top: 51px;
	width: 0.01px;
}

#u1115
{
	z-index: 9;
	height: 51px;
}

#u1115-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 9;
	top: 0px;
}

#accordionu1465
{
	z-index: 13;
}

#u1474
{
	z-index: 14;
}

#u1475-3
{
	z-index: 15;
	min-height: 31px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u1475-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 31px;
	margin: 0px;
}

#u1475-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 31px;
	margin: 0px;
}

#u1475-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 31px;
	margin: 0px;
}

#u1476
{
	z-index: 18;
}

#u1476:active
{
	min-height: 0px;
	margin: 0px;
}

#menuu1494
{
	z-index: 19;
	width: 68px;
	margin-right: -10000px;
	left: 312px;
}

#u1502
{
	width: 68px;
}

#u1503
{
	width: 68px;
	min-height: 20px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u1503:hover
{
	width: 68px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1503:active
{
	width: 68px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1506-4
{
	width: 68px;
	min-height: 20px;
	margin-right: -10000px;
	top: 10px;
}

#u1503:hover #u1506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u1503:active #u1506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u1496
{
	width: 68px;
	min-height: 20px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u1498-4
{
	width: 68px;
	min-height: 20px;
	margin-right: -10000px;
	top: 10px;
}

#u1503.MuseMenuActive #u1506-4,#u1496:hover #u1498-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u1496:active #u1498-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u1510
{
	width: 68px;
	min-height: 20px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u1513-4
{
	width: 68px;
	min-height: 20px;
	margin-right: -10000px;
	top: 10px;
}

#u1496.MuseMenuActive #u1498-4,#u1510:hover #u1513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u1510:active #u1513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u1495,#u1509,#u1516
{
	width: 68px;
	margin-top: 2px;
}

#u1519
{
	width: 68px;
	min-height: 20px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u1503.MuseMenuActive,#u1496.MuseMenuActive,#u1510.MuseMenuActive,#u1519.MuseMenuActive
{
	width: 68px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1522-4
{
	width: 68px;
	min-height: 20px;
	margin-right: -10000px;
	top: 10px;
}

#u1510.MuseMenuActive #u1513-4,#u1519:hover #u1522-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u1519:active #u1522-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u1519.MuseMenuActive #u1522-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#accordionu1465-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 13;
	top: 0px;
}

#u1299
{
	z-index: 10;
	width: 33px;
	height: 4px;
	top: 11px;
	left: 342px;
}

#u1300
{
	z-index: 11;
	width: 33px;
	height: 4px;
	top: 23px;
	left: 342px;
}

#u1301
{
	z-index: 12;
	width: 33px;
	height: 4px;
	top: 36px;
	left: 342px;
}

#u1302,#u1302-bw
{
	z-index: 8;
	height: 327px;
}

#pu1332
{
	width: 0.01px;
	margin-left: 61px;
	margin-top: 84px;
}

#u1332
{
	z-index: 3;
	width: 227px;
	height: 186px;
	margin-right: -10000px;
}

#u1340-4
{
	z-index: 4;
	width: 100px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: 169px;
	left: 78px;
}

#u1331
{
	z-index: 2;
	height: 173px;
}

#u1331-bw
{
	z-index: 2;
	margin-top: 86px;
	height: 173px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

