#u1475-8
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	line-height: 10px;
	font-size: 40px;
	text-align: right;
	color: #FFFFFF;
	letter-spacing: -3px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1475-8:hover
{
	background-color: #000000;
}

#u1475-8:active
{
	background-color: #000000;
}

#u1475-8.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
	letter-spacing: -3px;
	font-size: 40px;
	text-align: right;
	line-height: 0.25;
	text-indent: 0px;
}

.js #u1475-8.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#accordionu1465,#u1476
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1476:active
{
	border-style: none;
	border-color: transparent;
}

#menuu1494
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1503
{
	background-color: transparent;
	position: relative;
}

#u1506-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	text-align: right;
	color: #666666;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1503:hover #u1506-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1503:active #u1506-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1496
{
	background-color: transparent;
	position: relative;
}

#u1498-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	text-align: right;
	color: #666666;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1503.MuseMenuActive #u1506-4 p,#u1496:hover #u1498-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1496:active #u1498-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1510
{
	background-color: transparent;
	position: relative;
}

#u1513-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	text-align: right;
	color: #666666;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1496.MuseMenuActive #u1498-4 p,#u1510:hover #u1513-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1510:active #u1513-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1474,#u1475-8.AccordionPanelTabOpen,#u1502,#u1495,#u1509,#u1516
{
	background-color: transparent;
}

#u1519
{
	background-color: transparent;
	position: relative;
}

#u1522-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	text-align: right;
	color: #666666;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1510.MuseMenuActive #u1513-4 p,#u1519:hover #u1522-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1519:active #u1522-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1519.MuseMenuActive #u1522-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u1816
{
	background: #000000 url("../../images/dpp%20bg%20iphone.jpg") no-repeat center center;
}

#u1331
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

