#u1115
{
	background-color: #000000;
}

#accordionu1465
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1475-3
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1474,#u1475-3.AccordionPanelTabOpen
{
	background-color: transparent;
}

#u1475-3.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
}

.js #u1475-3.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1476
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1476:active
{
	border-style: none;
	border-color: transparent;
}

#menuu1494
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1502,#u1503
{
	background-color: transparent;
	position: relative;
}

#u1506-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #666666;
	font-size: 17px;
	text-align: right;
	line-height: 20px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1503:hover #u1506-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1503:active #u1506-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1495,#u1496
{
	background-color: transparent;
	position: relative;
}

#u1498-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #666666;
	font-size: 17px;
	text-align: right;
	line-height: 20px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1503.MuseMenuActive #u1506-4 p,#u1496:hover #u1498-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1496:active #u1498-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1509,#u1510
{
	background-color: transparent;
	position: relative;
}

#u1513-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #666666;
	font-size: 17px;
	text-align: right;
	line-height: 20px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1496.MuseMenuActive #u1498-4 p,#u1510:hover #u1513-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1510:active #u1513-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1516,#u1519
{
	background-color: transparent;
	position: relative;
}

#u1522-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #666666;
	font-size: 17px;
	text-align: right;
	line-height: 20px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1510.MuseMenuActive #u1513-4 p,#u1519:hover #u1522-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1519:active #u1522-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1519.MuseMenuActive #u1522-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u1299,#u1300,#u1301
{
	background-color: #FFFFFF;
	position: fixed;
}

#u1302
{
	background: #FFFFFF url("../../images/dpp%20bg%20iphone.jpg") no-repeat center center;
}

#u1809-4
{
	background-color: transparent;
	font-size: 28px;
	text-align: center;
	line-height: 34px;
	font-family: cuprum, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1331
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

