.version.tips /* version checker */
{
	color: #0000F6;
	background-color: #5D4146;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 402px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 168px;
}

#pu1115
{
	width: 0.01px;
}

#u1115,#u1115-bw
{
	z-index: 3;
	height: 71px;
}

#u1119
{
	z-index: 5;
}

#u1120-3
{
	z-index: 6;
	min-height: 51px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u1120-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 51px;
	margin: 0px;
}

#u1120-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 51px;
	margin: 0px;
}

#u1121
{
	z-index: 9;
}

#menuu1122
{
	z-index: 10;
	min-height: 180px;
}

#u1126
{
	min-height: 22px;
	padding-bottom: 20px;
}

#u1128-4
{
	min-height: 22px;
	top: 10px;
}

#u1154
{
	min-height: 22px;
	padding-bottom: 20px;
}

#u1155-4
{
	min-height: 22px;
	top: 10px;
}

#u1204
{
	min-height: 22px;
	padding-bottom: 21px;
}

#u1207-4
{
	min-height: 22px;
	top: 10px;
}

#u1179
{
	min-height: 22px;
	padding-bottom: 21px;
}

#u1126.MuseMenuActive,#u1154.MuseMenuActive,#u1204.MuseMenuActive,#u1179.MuseMenuActive
{
	min-height: 22px;
	margin: 0px;
}

#u1182-4
{
	min-height: 22px;
	top: 10px;
}

#u1126.MuseMenuActive #u1128-4,#u1154.MuseMenuActive #u1155-4,#u1204.MuseMenuActive #u1207-4,#u1179.MuseMenuActive #u1182-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u1153,#u1203,#u1178
{
	margin-top: 2px;
}

#menuu1122-bw
{
	z-index: 10;
	min-height: 180px;
	margin-top: 2px;
}

#accordionu1118,#accordionu1118-bw
{
	z-index: 4;
}

#u1299
{
	z-index: 35;
	width: 55px;
	height: 4px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 316px;
}

#u1300
{
	z-index: 36;
	width: 55px;
	height: 4px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 316px;
}

#u1301
{
	z-index: 37;
	width: 55px;
	height: 4px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 316px;
}

#u1302
{
	z-index: 2;
	height: 336px;
}

#u1302-bw
{
	z-index: 2;
	margin-top: -5px;
	margin-bottom: -5px;
	height: 336px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

