.version.war /* version checker */
{
	color: #000018;
	background-color: #09E268;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 924px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#accordionu1465
{
	z-index: 4;
}

#u1474
{
	z-index: 5;
}

#u1475-8
{
	z-index: 6;
	min-height: 31px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u1475-8:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 31px;
	margin: 0px;
}

#u1475-8:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 31px;
	margin: 0px;
}

#u1475-8.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 31px;
	margin: 0px;
}

#u1476
{
	z-index: 14;
}

#u1476:active
{
	min-height: 0px;
	margin: 0px;
}

#u1503
{
	min-height: 20px;
	padding-bottom: 20px;
}

#u1503:hover
{
	min-height: 20px;
	margin: 0px;
}

#u1503:active
{
	min-height: 20px;
	margin: 0px;
}

#u1506-4
{
	min-height: 20px;
	top: 10px;
}

#u1503:hover #u1506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u1503:active #u1506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u1496
{
	min-height: 20px;
	padding-bottom: 20px;
}

#u1498-4
{
	min-height: 20px;
	top: 10px;
}

#u1503.MuseMenuActive #u1506-4,#u1496:hover #u1498-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u1496:active #u1498-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u1510
{
	min-height: 20px;
	padding-bottom: 21px;
}

#u1513-4
{
	min-height: 20px;
	top: 10px;
}

#u1496.MuseMenuActive #u1498-4,#u1510:hover #u1513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u1510:active #u1513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u1519
{
	min-height: 20px;
	padding-bottom: 21px;
}

#u1503.MuseMenuActive,#u1496.MuseMenuActive,#u1510.MuseMenuActive,#u1519.MuseMenuActive
{
	min-height: 20px;
	margin: 0px;
}

#u1522-4
{
	min-height: 20px;
	top: 10px;
}

#u1510.MuseMenuActive #u1513-4,#u1519:hover #u1522-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u1519:active #u1522-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u1519.MuseMenuActive #u1522-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u1495,#u1509,#u1516
{
	margin-top: 2px;
}

#menuu1494,#menuu1494-bw
{
	z-index: 15;
	min-height: 168px;
}

#accordionu1465-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 4;
	top: 0px;
}

#u1816
{
	z-index: 3;
	height: 258px;
}

#u1816-bw
{
	z-index: 3;
	margin-top: 51px;
	height: 258px;
}

#u1331
{
	z-index: 2;
	height: 173px;
}

#u1331-bw
{
	z-index: 2;
	margin-top: 751px;
	height: 173px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -751px;
}

